<div class = "thumbnail-box">
    <div class = "thumbnail-picture"> 
        <img class = "logo" src = "assets/images/ups.svg">
    </div>
    <p class = "like-display">
        {{api.likes}} likes
    </p>
    <div class = "api-name">
        {{api.title}}
    </div>

    <div class = "description-box">
        {{api.summary}}
    </div>
    <button class = "like-button">Like</button>
    <button class = "subscribe-button">Subscribe</button>
    <button class = "view-more">View More</button>
</div>
